.docker:
  stage: build
  image: docker:26
  services:
    - docker:26-dind
  tags:
    - generic_privileged
  before_script:
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY

docker:
  extends: .docker
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG -f app/Dockerfile app
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

docker-build-image-latest:
  extends: .docker
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest -f app/Dockerfile app
    - docker push $CI_REGISTRY_IMAGE:latest
  when: manual
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" && $CI_PIPELINE_SOURCE != "schedule"'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

docker-build-image-tag:
  extends: .docker
  script:
    - docker build -t $CI_REGISTRY_IMAGE:${CI_COMMIT_TAG/v/} -f app/Dockerfile app
    - docker push $CI_REGISTRY_IMAGE:${CI_COMMIT_TAG/v/}
  rules:
    - if: '$CI_COMMIT_TAG'

check:
  stage: build
  image: node:23-alpine
  script:
    - cd app
    - npm install
    - npm run check
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

deploy_staging:
  stage: deploy
  needs: ["docker-build-image-latest"]
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" && $CI_PIPELINE_SOURCE != "schedule"'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  trigger:
    inputs:
      environment: staging
    project: e/online-services/infra/web/eos-installer
    branch: main
    strategy: depend
    forward:
      pipeline_variables: true
  variables:
    DOCKER_TAG: latest
  when: manual

deploy_production:
  stage: deploy
  needs: ["docker-build-image-tag"]
  rules:
    - if: '$CI_COMMIT_TAG'
  trigger:
    inputs:
      environment: production
    project: e/online-services/infra/web/eos-installer
    branch: main
    strategy: depend
    forward:
      pipeline_variables: true
  variables:
    DOCKER_TAG: ${CI_COMMIT_TAG/v/}
