@font-face {
    font-family: "Century Gothic";
    src: url("../assets/fonts/century-gothic/Century-Gothic.ttf") format("truetype");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../assets/fonts/century-gothic/Century-Gothic.ttf") format("truetype");
}
:root {
    --top-banner-color: #191823;
    --top-background-color: #0f0f0f;
    --background-color: #f7f7f7;
    --text-color: #111111;
    --info-color: #027ffe;
    --base-color: #dedee5;
    --secondary-color: #898989;
    --base-color-alt: #f5f5f7;
    --blue: #2a7ae2;
    --white: white;
    --green: #00b13c;
    --success-color: #61CE70;
    --downloading-color: #027ffe;
    --button-color: #027ffe;
    --button-text-color: white;
    --warning-background-color: #fff1c9;
    --warning-text-color: #795917;
    --info-background-color: #cbe9ee;
    --info-text-color: #104a55;
}

.warning {
    background: var(--warning-background-color);
    color: var(--warning-text-color);
}
.info {
    background: var(--info-background-color);
    color: var(--info-text-color);
}
.warning, .info {
    padding: 10px;
    border-radius: 4px;
}
.secondary {
    color : var(--secondary-color);
}
.text-center {
    text-align: center;
}
button {
    border-radius: 100px;
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}
button.connect {
    background: var(--success-color);
    color: var(--button-text-color);
    border: none;
}
button.next {
    background: var(--button-color);
    color: var(--button-text-color);
    border: none;
}

button:disabled {
    background: rgba(2, 127, 254, 0.6);
    cursor: auto;
}
html, body {
    margin: 0px;
    background: var(--background-color);
    font-family: 'Century Gothic', 'Lato';
    font-size : 16px;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}


/* <BANNER> */
#banner {
    top: 0;
    position: fixed;
    width: 100%;
}
#top-banner {
    background: var(--top-banner-color);
    color: var(--white);
    height: 50px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
    justify-content: center;
}
#sub-banner {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
#error-message {
    color: red;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
#donate, #help {
    display: flex;
    align-items: center;
    gap : 8px;
    padding: 0.2rem 1.5rem;
}
#donate img, #help img{
    width: 24px;
    height: 24px;
}
#donate{
    background: var(--green);
    border: var(--green);
    color: var(--white);
}
#help{
    background: transparent;
    border-color: var(--blue);
    color: var(--blue);
}
/* </BANNER> */

#process-ctn {
    background: linear-gradient(to bottom, var(--top-background-color) 400px, transparent 400px);
    padding-top: 150px;
    position: relative;
    width: 100%;
}

.inactive {
    display: none !important;
}

.active, .done {
    display: block;
}

.ready-to-install-e-os {
    color : var(--info-color);
    font-size: 28px;
    display: none;
}

.logo-ctn {
    max-width: 780px;
    margin:auto;
    display: flex;
    gap: 16px;
    color : #F7F7F7;
    align-items: center;
}
/* <CARD> */
.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    max-width: 780px;
    border-radius: 6px;
    background: var(--white);
    margin: 25px auto 50px auto;
    padding: 32px;
}
.card-header {
    font-size: 28px;
    font-family: 'Century Gothic';
    font-weight: 600;
}
.card-body, .large-padding {
    padding-top: 32px;
    padding-bottom: 32px;
}
.card-footer {
    text-align : right;
}
.instruction-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 8px;
}
.instruction-img, .normal-padding {
    margin-bottom : 20px;
    margin-top : 20px;
}
.connect-your-phone .instruction-img{
    max-width: 500px;
}
.enable-usb-file-transfer .instruction-img {
    max-width: 225px;
}
.device-detection .instruction-img {
    max-width: 300px;
}
.activate-developer-options .instruction-img,
.activate-usb-debugging .instruction-img {
    max-width: 350px;
}
.icon {
    width: 42px;
    height: 42px;
}
#overlay-background {
    position: absolute;
    background: #0000004f;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
}
progress {
    height: 3px;
    width: 50%;
    min-width: 300px;
}
progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}
progress[value]::-webkit-progress-bar {
    background-color: #d0d0d0;
}
progress[value]::-webkit-progress-value {
    background-color: var(--downloading-color);
}
progress[value].success::-webkit-progress-value {
    background-color: var(--green);
}
/* </CARD> */

/* <let-s-get-started> */
.let-s-get-started .instruction-ctn {
    padding : 16px 0;
    display : flex;
    align-items: center;
    gap : 24px;
}
.let-s-get-started .instruction-ctn {
    padding : 16px 0;
    display : flex;
    align-items: center;
    gap : 24px;
}
/* </let-s-get-started> */
.navigator-not-supported .instructions-ctn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    text-align:center;
    font-size:14px;
    padding: 16px 0;
}
.help-us-improve-the-tool p {
    padding-top: 16px;
    padding-bottom: 16px;
}
kbd {
    padding: .2rem .4rem;
    font-size: 87.5%;
    color: #fff;
    background-color: #212529;
    border-radius: .2rem;
}
code {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}
.help-us-improve-the-tool .instructions-ctn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 22px;
    text-align:center;
    font-size:14px;
}
.help-us-improve-the-tool .instruction-ctn.very-dissatisfied {
    color : #F35D47;
    border-color : #F35D47;
}
.help-us-improve-the-tool .instruction-ctn.dissatisfied {
    color : #F49138;
    border-color : #F49138;
}
.help-us-improve-the-tool .instruction-ctn.neutral {
    color : #f5be05;
    border-color : #f5be05;
}
.help-us-improve-the-tool .instruction-ctn.satisfied {
    color : #88d723;
    border-color : #88d723;
}
.help-us-improve-the-tool .instruction-ctn.very-satisfied {
    color : #00C95C;
    border-color : #00C95C;
}
.help-us-improve-the-tool .instruction-ctn {
    padding: 10px 12px ;
    border-radius : 8px;
    border-width : 1px;
    border-style: solid;
}
.help-us-improve-the-tool  .instruction-ctn > img {
    width : 28px;
    height : 28px;
    padding: 6px 8px ;
}
.help-us-improve-the-tool .thoughts {
    width:100%;
    height:150px;
    resize: none;
    border-color:#C6CBDD;
}
.help-us-improve-the-tool .thoughts:focus {
    outline: none !important;
    border-color:#C6CBDD;
}